.container {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }

  height: 100vh;
}

.measurement {
  font-size: 0.9em;
  padding: 4px 8px;

  transition: background-color 200ms ease;

  &:hover {
    cursor: pointer;

    .removeIcon {
      opacity: 0.25;
    }
  }
}

.selected {
  background: #eee;
}

.name {
  font-weight: bolder;
}

.data {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;

  p {
    min-width: 8ch;
  }

  section {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.swatch {
  $dim: 12px;
  width: 100%;
  height: $dim;
  width: $dim;
  border: 1px solid rgba(0, 0, 0, 0.65);
  border-radius: 48px;
  &:hover {
    box-shadow: 0 0 3px black;
  }
}

.colorPickerBtn {
  // position: relative;
  border: none !important;
  padding: 0 !important;
  background: none !important;
  margin: 0;
  display: flex !important;
  align-items: center;
}

.colorPicker {
  position: absolute;
  z-index: 10;

  & > .flexbox-fix {
    display: none !important;
  }
}

.removeIcon {
  color: darkred;
  opacity: 0;
  font-size: 1.5em;

  &:hover {
    opacity: 1 !important;
  }
}

.icon {
  opacity: 0.5;
  font-size: 1.1rem;
}

.widthSlider {
  width: 60px;
}
